<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" routerLink="/dashboard">
            <span class="logo-text">SysParking</span>
            <span class="logo-time">Horário: {{ gethoras() }}</span>
        </a>

        <!-- Botão para dispositivos menores -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links do menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="d-flex justify-content-between w-100">
                <ul class="navbar-nav ms-auto">
                    <li *ngIf="usuarioAutorizado !== 'Usuário'" class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li *ngIf="usuarioAutorizado !== 'Usuário'" class="nav-item">
                        <a class="nav-link" routerLink="/estacionamento">Estacionamentos</a>
                    </li>
                    <li *ngIf="usuarioAutorizado !== 'Usuário'" class="nav-item">
                        <a class="nav-link" routerLink="/relatorios">Relatórios</a>
                    </li>
                    <li *ngIf="usuarioAutorizado !== 'Usuário'" class="nav-item">
                        <a class="nav-link" routerLink="/colaboradores">Colaboradores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" style="cursor: pointer;" (click)="realizarLogOut()">Logout</a>
                    </li>
                </ul>

                <!-- Nome do usuário (responsivo) -->
                <span class="navbar-text text-white ms-3 d-none d-md-inline">
                    Usuário: {{ nomeUsuarioHeader }}
                </span>
            </div>
        </div>
    </div>
</nav>