<app-menu-header></app-menu-header>
<div class="container my-4 text-light bg-dark p-4 rounded">
    <h1 class="text-center mb-4">Colaboradores</h1>

    <!-- Lista de colaboradores -->
    <h2 class="mb-3 text-center">Lista de Colaboradores</h2>
    <div class="container pb-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            <div *ngFor="let colaborador of listarColaboradores" class="col">
                <div class="card bg-dark text-white rounded p-3 border-secondary d-flex flex-column h-100"
                    style="min-width: 250px;">
                    <h5 class="card-title fw-bold mb-2 text-center ">{{ colaborador.nome }}</h5>
                    <p class="card-subtitle mb-2 text-light text-truncate"> Nome Estacionamento: </p>
                    <p>{{ colaborador.nomeEstacionamento }}</p>
                    <p class="card-text mb-1 text-truncate">E-mail:</p>
                    <p>{{ colaborador.email }}</p>
                    <p class="card-text mb-1 text-truncate">Telefone: </p>
                    <p>{{ colaborador.telefone }}</p>
                    <p class="card-text mb-1 text-truncate">Endereço: </p>
                    <p>{{ colaborador.endereco }}</p>

                    <div class="mt-auto d-flex gap-2">
                        <button class="btn btn-warning btn-sm flex-grow-1" (click)="editarColaborador(colaborador)">
                            Editar
                        </button>
                        <button class="btn btn-danger btn-sm flex-grow-1" (click)="deletarColaborador(colaborador)">
                            Deletar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Formulário para edição -->
    <div *ngIf="editandoUsuario" class="border border-light p-3 rounded bg-secondary mb-2">
        <h2 class="mb-3">Editar Colaborador</h2>
        <form (ngSubmit)="salvarColaborador()">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input id="nome" class="form-control" [(ngModel)]="editandoUsuario.nome" name="nome" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input id="email" class="form-control" [(ngModel)]="editandoUsuario.email" name="email" required />
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone:</label>
                <input id="telefone" class="form-control" [(ngModel)]="editandoUsuario.telefone" name="telefone"
                    required />
            </div>
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço:</label>
                <input id="endereco" class="form-control" [(ngModel)]="editandoUsuario.endereco" name="endereco"
                    required />
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>

    <!-- Formulário para adicionar colaborador -->
    <form (submit)="addcolaborador()" class="mb-4 p-3">

        <!-- Seletor de estacionamento -->
        <div class="form-group mb-3">
            <label for="estacionamentoSelect">Selecionar Estacionamento:</label>
            <select id="estacionamentoSelect" class="form-select" [(ngModel)]="estacionamentoId" name="estacionamentoId"
                (change)="onEstacionamentoChange()" required>
                <option value="" disabled selected>Selecione um estacionamento</option>
                <option *ngFor="let estacionamento of estacionamentos" [value]="estacionamento.id">
                    {{ estacionamento.nome }}
                </option>
            </select>
            <div *ngIf="!estacionamentoId" class="text-danger mt-2">
                Selecione um estacionamento.
            </div>
        </div>

        <!-- Campos do colaborador -->

        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input id="nome" class="form-control" [(ngModel)]="newUsuario.nome" name="nome" required />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input id="email" class="form-control" [(ngModel)]="newUsuario.email" name="email" required />
        </div>
        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço:</label>
            <input id="endereco" class="form-control" [(ngModel)]="newUsuario.endereco" name="endereco" required />
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input id="telefone" class="form-control" [(ngModel)]="newUsuario.telefone" name="telefone" required />
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input id="senha" class="form-control" [(ngModel)]="newUsuario.senha" name="senha" required />
        </div>
        <button type="submit" class="btn btn-primary w-100">Adicionar</button>
    </form>

</div>