<app-menu-header></app-menu-header>

<div class="container my-4 text-light bg-dark p-4 rounded">

    <h2 class="text-center mb-4">Tabela de Preços</h2>
    <!-- Adicione uma classe personalizada para estilo adicional -->
    <div class="table-responsive my-custom-table"
        *ngIf="tabelaPrecoCarregada && tabelaPrecoCarregada.length > 0; else noData">
        <!-- Tabela padrão para resoluções maiores -->
        <table class="table table-striped d-none d-md-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Preço (15 Min)</th>
                    <th scope="col">Preço (30 Min)</th>
                    <th scope="col">Preço (1 Hora)</th>
                    <th scope="col">Preço (Diária)</th>
                    <th scope="col">Preço (Pernoite)</th>
                    <th scope="col">Preço (Mensal)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let preco of tabelaPrecoCarregada">
                    <td>{{ preco.preco15Min | currency:'BRL':'symbol' }}</td>
                    <td>{{ preco.preco30Min | currency:'BRL':'symbol' }}</td>
                    <td>{{ preco.preco1Hora | currency:'BRL':'symbol' }}</td>
                    <td>{{ preco.precoDiaria | currency:'BRL':'symbol' }}</td>
                    <td>{{ preco.precoPernoite | currency:'BRL':'symbol' }}</td>
                    <td>{{ preco.precoMensal | currency:'BRL':'symbol' }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Grid para resoluções menores -->
        <div class="price-grid d-md-none">
            <div *ngFor="let preco of tabelaPrecoCarregada" class="price-item">
                <div class="price-label">Preço (15 Min):</div>
                <div class="price-value">{{ preco.preco15Min | currency:'BRL':'symbol' }}</div>
                <div class="price-label">Preço (30 Min):</div>
                <div class="price-value">{{ preco.preco30Min | currency:'BRL':'symbol' }}</div>
                <div class="price-label">Preço (1 Hora):</div>
                <div class="price-value">{{ preco.preco1Hora | currency:'BRL':'symbol' }}</div>
                <div class="price-label">Preço (Diária):</div>
                <div class="price-value">{{ preco.precoDiaria | currency:'BRL':'symbol' }}</div>
                <div class="price-label">Preço (Pernoite):</div>
                <div class="price-value">{{ preco.precoPernoite | currency:'BRL':'symbol' }}</div>
                <div class="price-label">Preço (Mensal):</div>
                <div class="price-value">{{ preco.precoMensal | currency:'BRL':'symbol' }}</div>
            </div>
        </div>
    </div>

    <ng-template #noData>
        <p class="text-center">Nenhuma tabela de preço encontrada.</p>
    </ng-template>


    <div class="mt-2 mb-2 gap-4 d-flex">

        <button type="button" class="btn btn-primary" (click)="abrirFormulariosAtualizacao()">
            {{abrirFormularioAtualizacao ? 'Fechar' : 'Atualizar Tabela dePreços'}} </button>

        <button type="button" class="btn btn-primary" (click)="abrirFormulariosInsersao()">{{abrirFormularioInsersao ?
            'Fechar' : 'Inserir Tabela de Preços'}}</button>

    </div>


    <!-- Formulário para atualizar tabela de Preços -->

    <form class="row g-3" *ngIf="abrirFormularioAtualizacao">
        <h4 class="text-center mb-4">Atualizar Preços</h4>
        <!-- Preço 15 Minutos -->
        <div class="col-md-6">
            <label for="preco15Min" class="form-label">Preço (15 Min)</label>
            <input type="number" id="preco15Min" class="form-control" placeholder="Digite o preço para 15 minutos"
                [(ngModel)]="tabelaPrecoCarregada[0].preco15Min" name="preco15Min" required />
        </div>

        <!-- Preço 30 Minutos -->
        <div class="col-md-6">
            <label for="preco30Min" class="form-label">Preço (30 Min)</label>
            <input type="number" id="preco30Min" class="form-control" placeholder="Digite o preço para 30 minutos"
                [(ngModel)]="tabelaPrecoCarregada[0].preco30Min" name="preco30Min" required>
        </div>

        <!-- Preço 1 Hora -->
        <div class="col-md-6">
            <label for="preco1Hora" class="form-label">Preço (1 Hora)</label>
            <input type="number" id="preco1Hora" class="form-control" placeholder="Digite o preço para 1 hora"
                [(ngModel)]="tabelaPrecoCarregada[0].preco1Hora" name="preco1Hora" required>
        </div>

        <!-- Preço Diária -->
        <div class="col-md-6">
            <label for="precoDiaria" class="form-label">Preço (Diária)</label>
            <input type="number" id="precoDiaria" class="form-control" placeholder="Digite o preço para diária"
                [(ngModel)]="tabelaPrecoCarregada[0].precoDiaria" name="precoDiaria" required>
        </div>

        <!-- Preço Pernoite -->
        <div class="col-md-6">
            <label for="precoPernoite" class="form-label">Preço (Pernoite)</label>
            <input type="number" id="precoPernoite" class="form-control" placeholder="Digite o preço para pernoite"
                [(ngModel)]="tabelaPrecoCarregada[0].precoPernoite" name="precoPernoite" required>
        </div>

        <!-- Preço Mensal -->
        <div class="col-md-6">
            <label for="precoMensal" class="form-label">Preço (Mensal)</label>
            <input type="number" id="precoMensal" class="form-control" placeholder="Digite o preço para mensal"
                [(ngModel)]="tabelaPrecoCarregada[0].precoMensal" name="precoMensal" required>
        </div>

        <!-- Botões -->
        <div class="col-12">
            <button type="submit" class="btn btn-success" (click)="atualizarTabelaPreco()">
                Atualizar</button>
        </div>
    </form>
    <!-- Formulário de Tabela de Preços -->

    <form class="row g-3" *ngIf="abrirFormularioInsersao">
        <h4 class="text-center mb-4">Inserir Preços</h4>
        <!-- Preço 15 Minutos -->
        <div class="col-md-6">
            <label for="preco15Min" class="form-label">Preço (15 Min)</label>
            <input type="number" id="preco15Min" class="form-control" placeholder="Digite o preço para 15 minutos"
                [(ngModel)]="novaTabelaPreco.preco15Min" name="preco15Min" required />
        </div>

        <!-- Preço 30 Minutos -->
        <div class="col-md-6">
            <label for="preco30Min" class="form-label">Preço (30 Min)</label>
            <input type="number" id="preco30Min" class="form-control" placeholder="Digite o preço para 30 minutos"
                [(ngModel)]="novaTabelaPreco.preco30Min" name="preco30Min" required>
        </div>

        <!-- Preço 1 Hora -->
        <div class="col-md-6">
            <label for="preco1Hora" class="form-label">Preço (1 Hora)</label>
            <input type="number" id="preco1Hora" class="form-control" placeholder="Digite o preço para 1 hora"
                [(ngModel)]="novaTabelaPreco.preco1Hora" name="preco1Hora" required>
        </div>

        <!-- Preço Diária -->
        <div class="col-md-6">
            <label for="precoDiaria" class="form-label">Preço (Diária)</label>
            <input type="number" id="precoDiaria" class="form-control" placeholder="Digite o preço para diária"
                [(ngModel)]="novaTabelaPreco.precoDiaria" name="precoDiaria" required>
        </div>

        <!-- Preço Pernoite -->
        <div class="col-md-6">
            <label for="precoPernoite" class="form-label">Preço (Pernoite)</label>
            <input type="number" id="precoPernoite" class="form-control" placeholder="Digite o preço para pernoite"
                [(ngModel)]="novaTabelaPreco.precoPernoite" name="precoPernoite" required>
        </div>

        <!-- Preço Mensal -->
        <div class="col-md-6">
            <label for="precoMensal" class="form-label">Preço (Mensal)</label>
            <input type="number" id="precoMensal" class="form-control" placeholder="Digite o preço para mensal"
                [(ngModel)]="novaTabelaPreco.precoMensal" name="precoMensal" required>
        </div>

        <!-- Botões -->
        <div class="col-12 d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-success me-2" (click)="salvarTabelaPreco()">Salvar</button>
        </div>
    </form>
</div>